
<div class="myform bg-dark" >
    <h1 class="text-center">Welcome to StarDeck!</h1>
    <form id="registerForm"[formGroup]="registerForm"  (ngSubmit)="submit(registerForm.value)"  >
        <!-- Foto de perfil -->
        <div class="text-center">
            
            <img [src]="imageUrl" width="200" height="200"  class="col">
        </div>
        <div >
            <label>Profile Pic </label>
            <div class="form-group">
                <input type="file" (change)="onselectImage($event)">
            </div>
        </div>
        <!-- Username -->
        <div >
                <div class="form-group">
                    <label for="txtcode">Username</label>
                    <input type="text" id="txtcode" class="form-control" formControlName = "usuario"/>
            </div>
        </div>
        <!-- Nacionalidad -->
        <div >
            <div class="form-group">
                <label>Nationality</label>
                <select class="form-control" formControlName = "nacionalidad">
                    <option>Costa Rica</option>
                    <option>Estados Unidos</option>
                    <option>Mexico</option>
                </select>
            </div>
        </div> 
        <!-- Name -->
        <div >
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName = "nombre"/>
                </div>
        </div>
        <!-- Last Name -->
        <div >
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" formControlName = "apellidos"/>
                </div>
        </div>
        <!-- Password -->

        <div >
            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" formControlName = "pass" />
            </div>
        </div>
        <!-- Confirm Password -->
        <div >
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <!-- Correo -->
        <div >
            <div class="form-group">
                <label>Correo</label>
                <input type="text" class="form-control" formControlName = "correo"/>
            </div>
        </div>
        <div class="row" >
            <div class="col">
                <button type="preview">Clear</button>
            </div>
            <div class="col">
                <button type="submit" >Register</button>
            </div>
          </div>
       
    </form>
  </div>
  <router-outlet></router-outlet>