<div class="myform bg-dark">
    <h1 class="text-center">Welcome to StarDeck!</h1>
    <form>
        <div class="mb-3 mt-4">
            <label for="inputNameTag" class="form-label">Nickname</label>
            <input type="email" class="form-control" id="inputNameTag" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-4">
            <label for="inputNationality" class="form-label">Nationality</label>
            <input type="email" class="form-control" id="inputNationality" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-4">
            <label for="inputFName" class="form-label">First Name</label>
            <input type="email" class="form-control" id="inputFName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-4">
            <label for="inputLName" class="form-label">Last Name</label>
            <input type="email" class="form-control" id="inputLName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 mt-4">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="inputPassword1">
        </div>
        <button type="submit" class="btn btn-light mt-3">Register</button>
    </form>
</div>