<body>
    <main>
     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
       <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">New Bundle!</h1>
        <p class="lead fw-normal">In here he can put a description of any bundle that can be placed on the storer</p>
        <a class="btn btn-outline-secondary" href="#">Purchase now</a>
        </div>
      </div>
    </main>
  
    <div  class="offcanvas offcanvas-start text-bg-dark"  tabindex=""  id="offcanvasNavbar"  aria-labelledby="offcanvasNavbarLabel">
      <!-- Boton para cerrar el SideBar -->
          <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Log in</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
          </div>
      
          <div class="offcanvas-body">
          <!-- Menu de Login  -->
          <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
            <!-- Login Field -->
            <li class="nav-item">
              <app-login></app-login>
            </li>
            <!-- Unable to Login -->
            <li class="nav-item dropdown">
              <a>Cant Log in?</a>
            </li>
            <li>
              <a class="dropdown-item" href="test" data-bs-dismiss="offcanvas">
                <a data-bs-toggle="modal" data-bs-target="#ModalForm">Register</a>
              </a>
            <li>
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#ModalForm2" >Forgot your password</a>
            </li>
          </ul>
          </div> 
        </div>
      
      <!--Modal Registro -->
      <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                  <app-registro></app-registro>
              </div>
            </div>
          </div>
      </div>
      <!-- Modal Forgot Password -->
      <div class="modal fade" id="ModalForm2" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <a>Comming Soon</a>
            </div>
          </div>
        </div>
    </div>
      



   <footer class="container py-5">
    <div class="row">
    <div class="col-12 col-md">
      <h6>X-Blizzard Games</h6>
      <small class="d-block mb-3 text-body-secondary">&copy; 2023 - 202X</small>
    </div>
    <div class="col-6 col-md">
      <h5>Other Games</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">X-Blizzard page</a></li>
        <li><a class="link-secondary" href="#">Juego 1</a></li>
        <li><a class="link-secondary" href="#">Juego 2</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Sobre</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Policies</a></li>
        <li><a class="link-secondary" href="#">Privacy Terms</a></li>
      </ul>
    </div>
  </div>
   </footer>
  </body>
  
  
