
<div class="row">
    
    <div class="col-sm offset-lg-1">
        <h2>Herramienta para crear cartas</h2> 
        <div >
            <div>
             <div class="col-md-3 offset-lg-1">
                  <label for="txtcode">Nombre de la carta</label>
                  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" maxlength="30" minlength="5" [(ngModel)]="nombrecarta" >
             </div>
          </div>
         <div>
              <div class="col-md-3 offset-lg-1">
                    <label for="txtcode">Costo</label>
                  <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" min="0" max="100"[(ngModel)]="costo">
              </div>
           </div>
         <div>
             <div class="col-md-3 offset-lg-1">
                 <label for="txtcode">Energia</label>
                  <input type="number" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" min="-100" max="100"[(ngModel)]="energia">
              </div>
           </div>
          <div>
             <div class="col-md-3 offset-lg-1">
                  <label>Raza</label>
                    <select class="form-control" [(ngModel)]="raza">
                        <option>Select</option>
                  </select>
             </div>
         </div>
            <div>
             <div class="col-md-3 offset-lg-1">
                    <label>Tipo</label>
                 <select class="form-control" [(ngModel)]="rareza">
                        <option>Select</option>
                 </select>
             </div>
         </div>
         <div>
             <div class="col-md-3 offset-lg-1">
                   <label for="txtcode">Descripcion</label>
                   <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="descripcion">
              </div>
         </div>
            <div>
                <div class="col-md-3 offset-lg-1">
                    <label for="txtcode">Habilitar carta</label>
                 <input type="checkbox" class="form-check-input" [(ngModel)]="estado">
                </div>
         </div>
            <div>
             <div class="col-md-3 offset-lg-1">
                  <label for="txtcode">Imagen</label>
                 <input type="file" (change)="onselectImage($event)">
                </div>
            </div>
            <div class="col-md-3 offset-lg-1">
                <div>
                    <button  type="submit" class="btn btn-primary btn-lg btn-block">Crear</button>
                </div>
            </div>
        </div>
    </div>

  <div class="col-sm">
      <div class = "row">
        <label>{{estado}}</label>        
      </div>
      <div class="card" style="width: 18rem;">
        <img [src]="imageUrl" width="100%" height="180">
        <div class="card-body">
            <div class="row">
                <div class="col-sm">
                    <h3><span class="badge bg-secondary">{{raza}}</span></h3>
                </div>
                <div class="col-sm">
                    <h3><span class="badge bg-secondary">{{rareza}}</span></h3>
                </div>  
          <h5 class="card-title">{{nombrecarta}}</h5>
          <p class="card-text">{{descripcion}}</p>
          <div class="row">
            <div class="col-sm">
                <h3><span class="badge bg-secondary">{{costo}}</span></h3>
            </div>
            <div class="col-sm">
                <h3><span class="badge bg-secondary">{{energia}}</span></h3>
            </div>      
        </div>
        </div>
        
    <div>
    </div>
</div>


<router-outlet></router-outlet>