<!--Contenedor de todo-->
<div class="row align-items-start" style="background-color: black; height: 670px; width:100.8%">
  <!--Para los datos del jugador-->
  <div class="col-sm offset-lg-2 justify-content-center" style=" margin-top: 20px">
    <img [src]="jugadorImg" class="img-thumbnailrounded mx-auto d-block" style="border: 3px;" width="200" height="200" >
    <h2 class="text-center" style="color:aliceblue; font-family:cursive;">{{jugador}}</h2>
    <h3 class="text-center" style="color:aliceblue; font-family:cursive;">{{rango}}</h3>
    <div style="margin-top: 50px;">
      <h4 class="text-center" style="color: aliceblue; font-family:cursive; font-weight: bold;">Selecciona un deck para jugar:</h4>
    </div>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary btn-md btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Mis decks</button>
    </div>
    <div>
      <h4 class="text-center" style="color:aliceblue; font-family:cursive; font-weight: bold; margin-top:15px">Usarás el deck:</h4>
      <h5 class="text-center" style="color: aliceblue; font-family: 'Times New Roman', Times, serif;">{{deck}}</h5>
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 50px;">
      <button  type="submit" class="btn btn-primary btn-lg btn-block" (click)="startCountdown()" style="margin-bottom: 5px;">Buscar partida</button>
    </div>
  </div>
  <!--Para el tiempo de cola-->
  <div class="col-sm offset-lg-2">
    <div class="countdown">
      <h3 class="text-center">Tiempo de cola: {{ countdown }}</h3>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccione un deck</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-selec-deck></app-selec-deck>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>

  <router-outlet></router-outlet>
