<div class="col-sm offset-lg-4">

    <img [src]="jugadorImg" width="20%" height="200" >
    <h2>{{jugador}}</h2>
    <h3>{{rango}}</h3>
    <div>
      <button  type="submit" class="btn btn-primary btn-lg btn-block" (click)="startCountdown()" style="margin-bottom: 5px;">Buscar partida</button>
      <div class="countdown">Tiempo de cola: {{ countdown }}</div>
  </div>
      <div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Mis decks
        </button>
  </div>

  <div>
    <h4>Usarás el deck:</h4>
    {{deck}}
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Seleccione un deck</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-selec-deck></app-selec-deck>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  </div>

  <router-outlet></router-outlet>
