
<div class="myform bg-dark">
  <h1 class="text-center">Login to StarDeck!</h1>
  <form>
      <div class="mb-3 mt-4">
          <label for="inputEmail" class="form-label">Username</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"required autofocus formControlName="usuario">
      </div>
      <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" required #passwordInput>
      </div>
      <button type="submit" class="btn btn-light mt-3"
      (click)="">Login</button>
  </form>
</div>

