<div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Deck</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of listDecks">
        <th scope="row">
          <div class="media align-items-center">
            <div class="media-body">
              <span class="mb-0 text-sm">{{d.nombre}}</span>
            </div>
          </div>
          <div style="width: 300px; height: 400px;">
            <carousel [itemsPerSlide]="itemsPerSlide">
               <slide *ngFor="let slide of slides; let index=index">
                  <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                  <div class="carousel-caption">
                  </div>
               </slide>
            </carousel>
         </div>
        </th>
        <td>
          <button (click)="onSelect(d)" class="btn btn-primary">Seleccionar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>